<header class="header">
  <div class="header__contenedor">
    <div class="header__barra">
      <a class="header__logo" href="/">
        <img src="../../../../assets/img/logo.svg" alt="imagen logo" />
      </a>
      <nav class="navegacion">
        <a class="navegacion__enlace" href="index.html">Inicio</a>
        <a class="navegacion__enlace" href="nosotros">Nosotros</a>
        <a class="navegacion__enlace" href="blog.html">Blog</a>
        <a class="navegacion__enlace" href="tienda.html">Tienda</a>
      </nav>
    </div>
    <div class="modelo">
      <h1 class="modelo__nombre">Modelo VAI</h1>
      <p class="modelo__descripcion">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit doloribus
        nobis quas? Adipisci veritatis facere, illo velit eligendi ipsa sapiente
        beatae sed ratione iusto at. In accusamus culpa laborum repellendus.
      </p>
      <p class="modelo__precio">$399</p>
      <a class="modelo__enlace" href="producto.html">Ver Producto</a>
    </div>
  </div>
  <img class="header__guitarra" src="../../../../assets/img/header_guitarra.png" alt="imagen guitarra" />
</header>
